
<% if @user%>

  <% if !@user.organisation %>
  <h3>You aren't a member of any organisations. Join an existing one or create a new one.</h3>
   <% @organisation.each do |org| %>
     <div class="card" style="width: 50rem;">
       <div class="card text-white bg-dark mb-3">
         <h5 class="card-title"> <%= org.name %></h5>
         <h6 class="card-subtitle mb-2 text-muted">Organisation</h6>
         <p class="card-text">Select whether you'd like to join or edit this organisation.</p>
         <%= link_to "Edit", org_path(:id => org.id)%>
         <%= button_to "Join", user_path(:id => org.id), :class => 'btn btn-link', method: :patch%>
       </div>
     </div>
     <% end %>
 <% end %> 

 <% if !@user.organisation%>
   <h1>Create organisation</h1>
     <%=form_with url: org_path do |form|%>
       <div>
         <p>Name:</p>
         <%= form.text_field :name %>
        </div>
        <div>
          <p>Hourly rate: $</p>
          <%= form.number_field :hourly_rate%>
        </div>
      <%= form.submit "Create and Join"%>
   <% end %>
<% end %>
 




   <% if @user.organisation %>
   <div class="card" style="width: 18rem;">
  <div class="card text-white bg-dark mb-3">
    <h5 class="card-title"><%= @user.organisation.name%> </h5>
    <h6 class="card-subtitle mb-2 text-muted">Your Organisation</h6>
    <p class="card-text">Select what you would like to do</p>
    <%= link_to "View Shifts", view_shift_path(:org => @user.organisation.name, :hourly_rate => @user.organisation.hourly_rate, :id => @user.organisation.id)%>
    <%= button_to "Leave", user_path, :class => 'btn btn-link', method: :delete%>
     <%= link_to "Edit", org_path(:id => @user.organisation.id)%>
  </div>
</div>
 <% end %>





<% end %>